@using CookingBook.Common
@using Microsoft.AspNetCore.Identity
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model CookingBook.Web.ViewModels.Administration.Main.MainAdminUsersViewModel;
@{
    ViewData["Title"] = "EditUsers";
    var dateTimeNow = DateTime.Now;
}

<div class="container">
    <h4 style="margin: 1%; text-align: center;">Edit Users</h4>
    <div style="margin: 1%; text-align: center;">
        <a class="btn btn-outline-dark" asp-area="Administration" asp-controller="Main" asp-action="Index"><strong>Back</strong></a>
    </div>
    <div style="padding: 5%;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">User name</th>
                    <th scope="col">User type</th>
                    <th>Change type</th>
                    <th>Ban</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <th scope="row">@user.UserName</th>
                        @if (user.IsAdmin)
                        {
                            <td>Admin</td>
                        }
                        @if (!user.IsAdmin)
                        {
                            <td>User</td>
                        }
                        <td>
                            @if (user.IsAdmin)
                            {
                                <form asp-controller="AdminUsers" asp-action="RemoveFromAdmins" method="post">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <input type="submit" class="btn btn-outline-warning" value="Make ordinary user" />
                                </form>
                            }
                            @if (!user.IsAdmin)
                            {
                                <form asp-controller="AdminUsers" asp-action="AddToAdmins" method="post">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <input type="submit" class="btn btn-outline-warning" value="Make Admin" />
                                </form>
                            }
                        </td>
                        <td>
                            @if (user.IsBanned)
                            {
                                <form asp-controller="AdminUsers" asp-action="UnbanUser" mehtod="post">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <input type="submit" class="btn btn-outline-warning" value="Unban user" />
                                </form>
                            }
                            @if (!user.IsBanned)
                            {
                                <form asp-controller="AdminUsers" asp-action="BanUser" mehtod="post">
                                    <input type="datetime-local" name="ban" value="dateTimeNow" />
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <input type="submit" class="btn btn-outline-warning" value="Ban user" />
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
