@model CookingBook.Web.ViewModels.Administration.Main.MainAdminCategoriesViewModel
@{
    ViewData["Title"] = "EditCategories";
}

<div class="container">
    <h4 style="margin: 1%; text-align: center;">Edit Categories</h4>
    <div style="margin: 1%; text-align: center;">
        <a class="btn btn-outline-dark" asp-area="Administration" asp-controller="Main" asp-action="Index"><strong>Back</strong></a>
    </div>
    <div style="padding: 5%;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Category name</th>
                    <th scope="col">Category ID</th>
                    <th scope="col">Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <th scope="row">@category.Title</th>
                        <td>@category.Id</td>
                        <td>
                            <form asp-controller="AdminCategory" asp-action="ConfirmEdit" method="post">
                                <input type="hidden" name="id" value="@category.Id" />
                                <input type="hidden" name="title" value="@category.Title" />
                                <input type="submit" class="btn btn-outline-warning" value="Edit" />
                            </form>
                        </td>
                        <td>
                            <form asp-controller="AdminCategory" asp-action="ConfirmDelete" method="post">
                                <input type="hidden" name="id" value="@category.Id" />
                                <input type="hidden" name="title" value="@category.Title" />
                                <input type="submit" class="btn btn-outline-danger" value="Delete" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
