@model CookingBook.Web.ViewModels.Recipes.RecipeByIdViewModel
@{
    ViewData["Title"] = "ById";
}

<p>calories @Model.NutritionValue.Calories</p>
<p>@Model.Products.Product1</p>
<p>@Model.User.Name</p>
<p>@Model.FavoriteBy.Count favorited by</p>
<p>@Model.Reviews.Count review count</p>
<p>@Model.CookProcedure</p>
<p>@Model.Photo</p>
<p>@Model.NutritionValueId</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>