@model CookingBook.Web.ViewModels.Recipes.RecipeByIdViewModel
@{
    ViewData["Title"] = "ById";
}

<p>@Model.Photo</p>
<p>@Model.NutritionValue.Calories calories</p>
<p>@Model.CookProcedure</p>
<p>@Model.Photo</p>
<p>@Model.UserName </p>
<p>@Model.Title</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>